.glavniy {
    width: 1000px;
    border: solid gray;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
}
.head, .niz {
    height: 100px;
    background: gray;
}
.content {
    width: 100%;
    display:flex;
    column-gap: 20px;
}

.norm {
    flex-grow: 1;
    width: 100px;
    height: 100px;
    background: aqua;
    margin: 5px 0 5px 0;
}